@import url('../../m/css/lesshat.less');

#user-data-table {

}

.data-table-function-group { 
    &.top { padding-bottom:15px; }
    .btn { min-width:80px; 
        .glyphicon { display:none; }
    }
}

table.dataTable tbody tr{
    &.selected, &.active { background-color:#b0bed9;
        td { background-color:transparent; }
    }
}

.toggle-2 {
    .toggle-item-1 { display:none; }
}
.toggle-1 {
    .toggle-item-2 { display:none; }   
}