@import url('../../m/css/lesshat.less');

#user-data-table {

}

.data-table-function-group { 
    &.top { padding-bottom:15px; }
    .btn { min-width:80px; 
        .glyphicon { display:none; }
    }
}